// Notice Colors.
$color_notice-general-border: #666;

$color_notice-info-border:    #00a0d2;
$color_notice-info-bg:        #e5f5fa;

$color_notice-ok-border:      #46b450;
$color_notice-ok-bg:          #ecf7ed;

$color_notice-warning-border: #ffb900;
$color_notice-warning-bg:     #fff8e5;

$color_notice-error-border:   #dc3232;
$color_notice-error-bg:       #fbeaea;

$font_size_root: 16px;
